:root{
    --colour-main: #4C2B36;
    --colour-main-dark: #341D25;
    --colour-light: #F4F4F9;
    --colour-background-accent: #DABEC6;
    --font-body: 'Roboto', sans-serif;
    --text-01: #000000;
    --light-01: #F9F9F9;
    --light-02: #FFFFFF;
    --brand-01: #4C2B36;
    --hover-timing: all 0.2s ease;
    -webkit-font-smoothing: antialiased;
    --pg-margin: 80px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    background: linear-gradient(to bottom right,#291850, var(--colour-main) 60%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;
}

.form-element {
    margin-top: 5px;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-to-home a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-home a:hover {
    background-color: var(--colour-light);
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 1.2em;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

.button-container {
    text-align: center;
}

button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--colour-main);
    color: white;
    margin: 0 auto;
    width: 12rem;
}

button:hover {
    background-color: var(--colour-main-dark);
}