.error {
    color: red;
    font-weight: bold;
}

.form-element {
    margin-top: 5px;
}

:root {
    --colour-main: #2B6B6A;
    --font-body: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-to-home a {
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50; /* Button color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.back-to-home a:hover {
    background-color: #295d2a;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #EF88BB, #291850);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 1.2em;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

.button-container {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8a5aff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ff5acd;
}