body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Optional: to give the form rounded corners */
}

.payment-methods {
    text-align: center;
    margin-bottom: 20px;
}

.payment-methods button {
    border: none;
    background: none;
}

.payment-methods img {
    width: 50px;
    height: auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4C2B36;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.edit-icon, .delete-icon {
    color: #000000; /* Bootstrap primary color */
    margin-left: 10px;
    text-decoration: none;
}

.edit-icon:hover, .delete-icon:hover {
    color: #606060; /* Darker shade for hover */
}

.edit-icon i, .delete-icon i {
    font-size: 1.2em;
    vertical-align: middle;
}