:root{
    --colour-main: #4C2B36;
    --colour-main-dark: #341D25;
    --colour-light: #F4F4F9;
    --colour-background-accent: #DABEC6;
    --font-body: 'Roboto', sans-serif;
    --text-01: #000000;
    --light-01: #F9F9F9;
    --light-02: #FFFFFF;
    --brand-01: #4C2B36;
    --hover-timing: all 0.2s ease;
    -webkit-font-smoothing: antialiased;
    --pg-margin: 80px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, white 80%, var(--colour-light)) fixed;
    font-family: var(--font-body);
    font-size: 1rem;
    display: grid;
    overflow: scroll;
}

a {
    text-decoration: none;
}

svg {
    width: 1.2em;
    height: 1.2em;
    stroke: var(--light-01);
}

svg.bad {
    stroke: none;
    color: var(--light-01);
}

svg #icon-profile.bad {
    width: 0.5em;
    height: 0.5em;
}

section,
footer {
    position: relative;
    width: 100%;
    padding: 0 var(--pg-margin);
}

section.welcome {
    aspect-ratio: 3/1;
    background-size: 30%;
    background-position: 90% 60%;
    height: 700px;
    background: var(--light-01);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 3rem;
    display: inline-flex;
}

section.welcome h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-01);
}

section h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--text-01);
    margin-bottom: 32px;
}

